language: go
go:
  - "1.11.x"

os:
  - linux
  - osx
  - windows

dist: trusty
sudo: false

install: true

script:
  - env GO111MODULE=on go build ./...
  - env GO111MODULE=on go test ./...